.sidebar {
  display: none;
}

.sidebar.show {
  background: #eee;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 0px 23px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sidebar > * {
  padding-left: 0.5rem;
}

.container {
  display: flex;
  height: 100%;
}

.main {
  flex: 1;
}

.list {
  flex: 1;
  overflow: auto;
}

.responsiveImg {
  width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
}

label {
  display: block;
}

.list ul {
  padding-right: 10px;
}

.list li {
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.4);
}

.list li + li {
  margin-bottom: 2rem;
}
